:root {
  --primary-green: #668539; /* Dark Green */
  --secondary-green: #e8f7dd; /* Light Green */
  --background-dark: #151b1f; /* Dark Background */
  --text-light: #f2f2f2; /* Light Text Color (off-white)*/
}
