@import '../../variables.css';

.recipe-list {
  text-align: left;
  color: var(--text-light);
}

.recipe-list ul {
  list-style-type: none;
  padding: 0;
}

.recipe-list li {
  border: 1px solid var(--primary-green);
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--background-dark);
  cursor: pointer;
}

.recipe-list h3 {
  margin: 0;
}

.recipe-list button {
  background: var(--secondary-green);
  color: var(--background-dark);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
